@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
h1{
  color: black;
  position: relative;
  bottom: 800px;
  left: 200px;
  font-size: 5rem;
  font-family: 'Ubuntu';
}
h3{
  margin: 10px;
}
body{
  background-color: #000000;
}
#tel{
  color: #960404;
}
a{
  color: white;
}
#topimg{
  width: 100%;
  position: relative;
  z-index: -1;
}
#endpic{
  width: 50%;
}
.icon{
  text-align: center;
  margin: 30px auto;
  display: block;
}
.it{
    font-family: 'Ubuntu',sans-serif;
    padding: 10px;
    position: relative;
    right: 17px;
    top: 0;
}
.icon-text{

}
.b1{
  background-color: #C14000;
}
.b2{
  background-color: #009987;
}
.b3{
  background-color: #FEA501;
}
.badabox{
  text-align: center;
}
.boxes3 div{
  display: inline-block;
  height: 280px;
  width: 250px;
  margin: 0 20px;
  border-radius: 5px;
  position: relative;
  bottom: 150px;
}
.boxes3{
  width: 950px;
  margin: 0 auto;
  background-color: black;
  text-align: center;
  display: inline-block;
}
.navbar{
  background: crimson;
  position: fixed;
  width: 100%;
  font-family: 'Ubuntu',sans-serif;
  padding: 15px 0;
  z-index: 10;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  font-size: 35px;
  font-weight: 600;
  color: white;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-left: 25px;
}

.navbar .menu{
  color: white;
}
.end{
  width: 800px;
  height: 258px;
  background-color: #191919;
  margin: 0 auto 50px;
}
